.vcenter td{
  vertical-align: middle!important;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0!important;
}

.no-padding tr:first-child td{
  border: 0;
}

.console{
  padding: 15px;
  color: #ffffff;
  font-weight: 800;
  background-color: #222222;
  border-radius: 5px;
  height: 150px;
  overflow: auto;
}

.log-block-name{
  color: #feffa9; /*yellow*/
}

.log-group{
  color: #9965cc; /*purple*/
}

.log-group-line{
  color: #ff7c23; /*orange*/
}

.log-overwrite{
  color: #ff7a85; /*red*/
}

.log-overwritten .log-action, .log-allocated .log-action{
  color: #3ad42a; /*green*/
}

.log-exist .log-action{
  color: #8b8682; /*grey*/
}

.log-action{
  padding: 0 4px;
}

.log-exist .log-action{
  padding: 0 2px 0 4px;
}

.info {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  background-color: none;
}

[animate-on-change] {
  transition: all 1s;
  -webkit-transition: all 1s;
}

[animate-on-change].changed {
  background-color: #ff0000!important;
  color: white;
  transition: none;
  -webkit-transition: none;
}
